.sidebar, .profile, .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    background: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
}

.cover {
    width: 100%;
    object-fit: cover;
    max-height: 4.5rem;
}

.profile {
    row-gap: 1rem;
    margin-top: calc(-3.75rem / 2);
}

.info {
    row-gap: .5rem;
}

.info strong {
    color: var(--gray-100);
}

.info span {
    font-size: .875rem;
    color: var(--gray-400);
}

.sidebar footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem 2rem 2rem 2rem;
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
}

.sidebar footer > a {
    width: 100%;
    border: 2px solid var(--green-500);
    border-radius: 8px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: .75rem 1.25rem;
    color: var(--green-500);
    text-decoration: none;
    transition: .25s;
    font-weight: 700;
}

footer > a:hover {
    color: var(--white);
    background: var(--green-400);
    border-color: var(--green-400);
}

@media (max-width:768px) {
    .sidebar footer > a {
        width: fit-content;
    }
}